#root {
  height: 95vh;
  background-color: #bfd2db;
  font-family:fantasy
}

.body{
  height:100vh
}



.App {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border-style: solid;
  min-height: 95vh;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  background-color: #afb6ba;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.editInput {
  text-align: left;
}

.editContainer,input { 
  margin-right: 325px;
}

.phraseInput {
  float: right;
}

.editContainer, h1 {
  text-align: center;
  justify-content: center;
}

.editContainer {
  margin: auto
}

.editContainer, Button {
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.editInput {
  color: rgb(199, 60, 83)
}

.createFormDiv {
  width: 30vw;
  height: 10vh;
  margin:auto
}

.createInput { 
  text-align: left;
}

.createInput2 {
  float: right;
}

.indvCSS {
  display: flex;
  align-items: left;
  text-align: left;
  line-height: 2.2;
}

.indvCSS,
Example {
  color: rgb(199, 60, 83)
}

.indvPage, span {
  color:rgb(55, 105, 180)
}

.indvPage, h1 {
  color:black
}

.indvButton {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}

.multiContainer, h4 {
  color:rgb(55, 105, 180)
}

.multiUL {
  list-style: none;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 60vw;
    margin: auto;
    max-height: 75vw;
}

.phrase-link {
  color: rgb(199, 60, 83)
}

.phrase-link:hover {
  color: red
}

.phrase-link:active {
  color: green
}

li {
  list-style-type: none
}